In [1]:
# Instalação do pandas
#!pip install pandas
#!pip install --upgrade pandas

In [7]:
import pandas as pd

In [3]:
# instalação do matplotlib
#!pip install matplotlib
#!pip install --upgrade matplotlib

In [8]:
import matplotlib as plt

In [9]:
from matplotlib import style
style.use('ggplot')
%matplotlib inline

In [6]:
# instalação do plotly
#!pip install plotly
#!pip install --upgrade plotly

In [10]:
import plotly
import plotly.express as px
import plotly.graph_objects as go
import plotly.offline as pyo

In [8]:
# import cufflinks
#!pip install cufflinks
#!pip install --upgrade cufflinks

In [11]:
import cufflinks as cf
from plotly.offline import init_notebook_mode,plot,iplot

In [10]:
# import folium
#!pip install folium
#!pip install --upgrade folium

In [12]:
import folium

In [13]:
pyo.init_notebook_mode(connected = True)
cf.go_offline()

In [14]:
df= pd.read_csv ("BRnCov19.csv",sep=";")
# https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset/data
# https://brasil.io/dataset/covid19/caso

In [15]:
df

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
0,Norte,RO,30/01/2020,0,0,0,0
1,Norte,RO,31/01/2020,0,0,0,0
2,Norte,RO,01/02/2020,0,0,0,0
3,Norte,RO,02/02/2020,0,0,0,0
4,Norte,RO,03/02/2020,0,0,0,0
...,...,...,...,...,...,...,...
1642,Centro-Oeste,DF,26/03/2020,40,200,0,0
1643,Centro-Oeste,DF,27/03/2020,30,230,0,0
1644,Centro-Oeste,DF,28/03/2020,30,260,0,0
1645,Centro-Oeste,DF,29/03/2020,29,289,1,1
1646,Centro-Oeste,DF,30/03/2020,23,312,0,1

In [16]:
    df.drop(['regiao','data','casosAcumulados','obitosAcumulados'],axis=1, inplace =True)
    # drop serve pra esconder atributos da tabela
    # inplace arranca atributos da tabela permanentemente

In [17]:
df

     estado  casosNovos  obitosNovos
0        RO           0            0
1        RO           0            0
2        RO           0            0
3        RO           0            0
4        RO           0            0
...     ...         ...          ...
1642     DF          40            0
1643     DF          30            0
1644     DF          30            0
1645     DF          29            1
1646     DF          23            0

[1647 rows x 3 columns]

In [20]:
casosNovos = df['casosNovos'].sum()
print('O número de casos novos é de',casosNovos)

O número de casos novos é 4579

In [21]:
obitosNovos = df['obitosNovos'].sum()
print('O número de mortes agora é de',obitosNovos)

O número de mortes agora é de 159